@import url('../colors.css');

.project-card {
    margin-top: 40px;
    background-color: var(--verdeEscuro);
    padding: 0;
    border-radius: 30px;
    border: 7px solid #000000;
    box-shadow: 8px 9px 0px black;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    height: auto;
    overflow: hidden;
}

.project-description {
    flex: 2;
    background-color: var(--amareloClaro);
    box-shadow: 4px 4px 0px black;
    padding: 30px 40px;
    border: 5px solid #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.project-arrow{
    flex: 0.85;
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-techs{
    display: flex;
    gap: 10px;
    padding: 0;
    list-style-type: none;
}



.project-description h1{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    text-transform: capitalize;
}

.project-description h2{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    text-transform: capitalize;
}

.project-description p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}