.skills-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.skills-container.left{
align-items: flex-start;
}

.skills-container.right {
    align-items: flex-end;
}

.skills-title {
    color: #000000;
    font-family: "League Spartan", Helvetica;
    font-size: 2.5rem;
    font-weight: 800;

    line-height: normal;
    text-decoration: underline;
    white-space: nowrap;
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    width: 100%;
}

.skills-container.left .skills-list {
    justify-content: flex-start;
    margin: -0.75rem;
}

.skills-container.right .skills-list {
    justify-content: flex-end;
    margin: -0.75rem;
}

.skill-item {
    font-size: 24px;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box;
    padding: 0.375rem 0.75rem;
    overflow: hidden;
    text-overflow: ellipsis;

}

@media (max-width: 48rem) {
    .skills-container {
        max-width: 100%;
    }
    
    .skills-container.left,
    .skills-container.right {
        align-items: center;
    }
    
    .skills-title {
        font-size: 2rem;
        text-align: center;
    }
    
    .skills-list {
        gap: 1rem;
        width: 100%;
        justify-content: center;
    }
    
    .skills-container.left .skills-list,
    .skills-container.right .skills-list {
        justify-content: center;
    }
    
    .skill-item {
        font-size: 1.125rem;
        padding: 0.375rem 0.75rem;
    }
}

@media (max-width: 30rem) {
    .skills-title {
        font-size: 1.75rem;
    }
    .skills-container {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    .skills-list {
        gap: 0.2rem;
    }
    
    .skill-item {
        font-size: 1rem;
        padding: 0.15rem;
    }
}