:root{
    --fundo: #FAEDB9;
    --verde: #50ED6C;
    --verdeEscuro: #059355;
    --vermelho: #F23054;
    --vermelhohover: #b8233e;
    --amarelo: #D5F230;
    --amareloClaro: #EDED50;
    --roxo: #E830F2;
    --azul: #303AF2;
    --azulClaro: #50C3ED;
    --azulMarinho: #059387;
}